//start global varibales
$main-color: #0f75bd;
$secondary-color: #ffcc00;
//end global varibales
.courses {
  position: relative;
  z-index: 1;
  &::before {
    content: "SOON";
    position: absolute;
    bottom: -30%;
    left: 25%;
    font-family: "Technor", sans-serif;
    font-size: 16rem;
    color: rgba(255, 204, 0, 0.5);
    letter-spacing: 40px;
    font-weight: bold;
    z-index: -1;
    @media screen and (max-width: 768px) {
      top: -9%;
      left: 20%;
      font-size: 5rem;
      letter-spacing: -1px;
    }
  }
}
